name: LuaRocks
on:
  push:
    tags:
      - "*"
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}-luarocks
  cancel-in-progress: true
jobs:
  luarocks-release:
    runs-on: ubuntu-latest
    name: LuaRocks upload
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v5
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          summary: "FZF-based fuzzy finder running on a dynamic engine that parsing user query and selection on every keystroke."
          labels: |
            neovim
